*,
html {
  margin: 0;
  font-family: 'Roboto Condensed Variable', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec1d24;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c21d23;
}

::-webkit-scrollbar:vertical {
  display: none;
}
